<div class="danhsach ng-scope" ng-controller="quanlyhoso.thongkebaocao.views.thongkemotcua as vm">
    <div class="portlet light bordered ng-isolate-scope">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>
                <span class="caption-subject bold uppercase">THỐNG KÊ BÁO CÁO HỒ SƠ TIẾP NHẬN</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body form">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Ngày tiếp nhận</label>
                        <thoigiantimkiem ngaytimkiem="vm.NgayTiepNhan" />
                    </div>
                    <div class="col-md-4">
                        <label>Doanh nghiệp</label>
                        <doanhnghiepcombo doanh-nghiep-id="vm.filter.doanhNghiepId" control="vm.controlDoanhNghiepCombo" />
                    </div>
                    <div class="col-md-4">
                        <label>Mã đơn hàng</label>
                        <input ng-model="vm.filter.Keyword" placeholder="Mã đơn hàng : 18.10.04.24.TT41" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Trạng thái chuyển trả</label>
                        <select id="ddlTrangThaiTraCuu"
                                style="width: 100%"
                                kendo-drop-down-list
                                k-ng-model="vm.filter.formCase"
                                k-options="vm.trangThaiTraCuuOptions"
                                class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                        <label>Loại đơn hàng</label>
                        <loaidonhangchung name="LoaiDonHangIds" selected="vm.filter.LoaiDonHangIds" data-fv-notempty="true">
                        </loaidonhangchung>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center margin-top-25">
                            <button class="btn btn-sm bg-green bg-font-green-meadow" button-busy="vm.loading == true" busy-text="Đang tải..." ng-click="vm.thongKe()"><i class="fa fa-search"></i> Thống kê</button>
                            <button class="btn btn-sm bg-red-flamingo-opacity font-white" ng-click="vm.datLai()"><i class="fa fa-repeat"></i> Đặt lại</button>
                            <button class="btn btn-sm bg-green-meadow font-white margin-right-20" ng-disabled="!vm.isShowThongke" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> Xuất ra excel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div kendo-grid id="gridThongke" k-options="vm.hoSoGridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>