@using newPSG.PMS.Localization
<div ng-controller="common.views.roles.index as vm">

    <div class="portlet light margin-bottom-0">
        <div class="portlet-title">

            <div class="margin-bottom-5 row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Roles")</span> <small>@L("RolesHeaderInfo")</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-right margin-top-20">
                    <button ng-if="vm.permissions.create" class="btn green-meadow" ng-click="vm.createRole()"><i class="fa fa-plus"></i> @L("CreateNewRole")</button>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="inputs inputs-full-width row">
                <div class="portlet-input">
                    <form>

                        <div class="col-xs-6">
                            <permission-combo selected-permission="vm.requestParams.permission"></permission-combo>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button class="btn btn-default" style="display: block; width: 100%" ng-click="vm.getRoles()"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div busy-if="vm.loading">
                <div id="gdRole" kendo-grid k-pageable='{"refresh": true, "pageSizes": true, messages: {empty: "Không có dữ liệu", display: "Hiển thị từ {0} đến {1}/{2} bản ghi",itemsPerPage: "Bản ghi hiển thị"}}' k-data-source='vm.roleGridOptions' k-columns="vm.roleColumns"></div>
            </div>
        </div>
    </div>
</div>