@using newPSG.PMS.Localization
<style>
    .header-grid {
        padding: 10px;
        background: #4350B4;
        color: #fff;
        font-size: 18px;
    }
</style>

<div ng-controller="danhmuc.thutuc.luachonthutuc as vm">

    <div class="portlet light bordered margin-bottom-0">
        <div class="portlet-title">
            <div class="caption font-green-meadow">
                <i class="icon-list font-green-meadow"></i>
                <span class="caption-subject bold uppercase"> Danh sách thủ tục hành chính</span>
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="row">

            @*<div class="col-md-3">
                    <div class="form-group">
                        <div class="inputs">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn green-meadow active" ng-click="vm.filter(1)">
                                    <input class="toggle" type="radio" > Tất cả
                                </label>
                                <label class="btn green-meadow"  ng-click="vm.filter(2)">
                                    <input class="toggle" type="radio"> Cấp Trung Ương
                                </label>
                                <label class="btn green-meadow" ng-click="vm.filter(3)">
                                    <input class="toggle" type="radio" > Cấp địa phương
                                </label>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-6">
                <div class="form-group">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <div class="input-group">
                                <input type="text" name="ID" placeholder="Mã, tên thủ tục ..." class="form-control" ng-model="vm.filterText" ng-change="vm.filterthutuc()" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-block" ng-click="vm.filterthutuc()"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-green-meadow font-white">

                            <th width="70px" class="text-center"> Mã thủ tục </th>
                            <th width="100px"> Thao tác </th>
                            <th> Tên thủ tục </th>
                            <th width="30%"> Lĩnh vực </th>
                            <th width="70px">Thường dùng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="thutuc in vm.danhsachthutuc">

                            <td class="text-center bold  font-blue">{{thutuc.maThuTuc}}</td>
                            <td>
                                <div class="ui-grid-cell-contents">
                                    <div class="btn-group dropdown" uib-dropdown="" dropdown-append-to-body>
                                        <button class="btn btn-xs green-meadow" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>Thao Tác<span class="caret"></span></button>
                                        <ul uib-dropdown-menu>
                                            <li ng-repeat="thaotac in thutuc.thaotacthutuc" ng-click="vm.gourl(thaotac.url)"><a>{{thaotac.displayName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <strong>{{thutuc.tenThuTuc}}</strong>
                                <br />
                                <p>
                                    {{thutuc.moTa}}
                                </p>
                            </td>
                            <td class="bold">{{thutuc.linhVuc}}</td>
                            <td>
                                <button class="btn btn-default btn-block" ng-click="vm.favorites(thutuc)"><i class="fa fa-star fa-2x {{thutuc.css}}"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>