<style>
    .new-txt h6 {
        font-size: 16px;
        font-weight: 600;
        min-height: 200px;
    }

    .news-box:hover .new-txt h6 a {
        color: #f3f0e1;
    }
</style>

<section class="wf100 subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @*<h3 class="stitle text-center" style="margin: 0; color: #fff">
                        Liên hệ
                    </h3>*@
                <ul>
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="Lienhe"> Thống kê   </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="main-content thong-ke">

    @*<div class="events-wrapper events-listing" style="padding-bottom: 0;">
            <div class="container">
            </div>
        </div>*@

    <div class="events-wrapper news-wrapper news-grid">
        <div class="container">
            <div class="row">
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Công bố cơ sở đủ điều kiện kiểm nghiệm chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286739-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Công bố cơ sở đủ điều kiện khảo nghiệm chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286740 </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành mới chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286741-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Gia hạn số đăng ký lưu hành chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286742-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành bổ sung do thay đổi quyền sở hữu số đăng ký lưu hành chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286743-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành bổ sung do đổi tên thương mại của chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286744-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành bổ sung do thay đổi địa điểm cơ sở sản xuất, thay đổi cơ sở sản xuất chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286745-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành bổ sung do thay đổi tên, địa chỉ liên lạc của đơn vị đăng ký, đơn vị sản xuất chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286746-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Đăng ký lưu hành bổ sung do thay đổi tác dụng, chỉ tiêu chất lượng, phương pháp sử dụng chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286748-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Công bố cơ sở đủ điều kiện sản xuất chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286756-TT </div>
                    </div>
                </div>
                <!--News Box End-->
                <!--News Box Start-->
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">

                        <div class="new-txt">

                            <h6><a href="#">Công bố đủ điều kiện cung cấp dịch vụ diệt côn trùng, diệt khuẩn trong lĩnh vực gia dụng và y tế bằng chế phẩm</a></h6>
                            <p class="flext-git" style="padding-top: 20px;"> <span style="width: 70%" class="text-left">Mức độ 4:</span> <span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span> </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Tiếp nhận:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Giải quyết:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-info">62</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Trước hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">98.4%</span>
                            </p>
                            <p class="flext-git">
                                <span style="width: 70%" class="text-left">Đúng hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-primary">1.6%</span>
                            </p>
                            <p class="flext-git"><span style="width: 70%" class="text-left">Trễ hạn:</span>	<span style="width: 30%; font-weight: 700;" class="text-right text-danger">0%</span></p>
                        </div>
                        <div class="news-box-f gitnew"> Số hồ sơ: B-BYT-286757-TT </div>
                    </div>
                </div>
                <!--News Box End-->
            </div>
        </div>
    </div>
</div>