@using newPSG.PMS.Localization
<style>
    .table > thead > tr > th {
        vertical-align: middle;
        background-color: #0994ff;
        color: white;
    }

    #form-chuyen-ho-so .custom-error-validate {
        display: none;
    }
</style>
<div class="danhsach" ng-controller="quanlyhoso.thutuc99.views.motcuaphancong.index as vm">
    <div class="portlet light bordered" ng-show="vm.show_mode==null">
        <div class="portlet-title">
            <div class="caption font-green-soft">
                <em class="icon-list font-green-soft"></em>
                <span class="caption-subject bold uppercase">Chức năng một cửa phân công</span>
            </div>
        </div>
        <div class="portlet-body">
            <quanlyhoso.thutuc99.directives.gridhoso form="vm.form"
                                                     filterobj="vm.filter"
                                                     motcuaphancong="vm.openMotCuaPhanCong"
                                                     loadcheckall="vm.updateArrCheckbox" />
        </div>
    </div>
    <!-- MODAL -->
    <div class="portlet light" ng-show="vm.show_mode == 'mot_cua_phan_cong'">
        <div class="portlet-title">
            <div class="caption font-green-sharp uppercase">
                <em class="fa fa-file-pdf-o font-green-sharp"></em>{{vm.phanCongInfo.title}}
            </div>
            <div class="tools">
                <div class="input-group" style="float: left;margin-right: 10px;">
                    <div class="" uib-dropdown auto-close="disabled" is-open="vm.dropdownSearchIsOpen">
                        <button id="button1" type="button" class="btn btn-sm btn-success dropdown-toggle" uib-dropdown-toggle>Xem lịch sử <em class="fa fa-sm fa-angle-down" style="font-size: 15px;font-weight: bolder; margin-left: 6px;"></em></button>
                        <div class="dropdown-menu theme-panel pull-right dropdown-custom advance-history" uib-dropdown-menu role="menu" aria-labelledby="button1">
                            <div class="col-md-12">
                                <quanlyhoso.thutuc99.directives.viewhistorydrop hosoid="vm.dataItem.id" />
                            </div>
                        </div>
                        <a ng-click="vm.closeModal()"><em class="glyphicon glyphicon-remove font-green-meadow"></em></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-7">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="Đơn hàng">
                            <div class="portlet light bordered" style="height: 600px">
                                <iframe title="Xem bản đắng ký" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.dangKyHoSoUrl)}}"  ></iframe>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Tài liệu đính kèm">
                            <div ng-if="vm.lstTaiLieu.length > 0">
                                <div class="right" style="padding-top: 10px;">
                                    <button type="button" ng-class="taiLieu.active == true ? 'green-soft' : ''"
                                            class="btn btn-xs btn-default" ng-click="vm.xemTaiLieu(taiLieu)"
                                            ng-repeat="taiLieu in vm.lstTaiLieu">
                                        {{taiLieu.moTaTep}}
                                    </button>
                                </div>
                                <div class="portlet light bordered" style="height: 600px">
                                    <iframe title="Xem tài liệu" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.taiLieuDinhKemUrl)}}"  ></iframe>
                                </div>
                            </div>
                            <div ng-if="vm.lstTaiLieu.length == 0">
                                <div class="portlet light bordered text-center font-grey-salsa" style="height: 600px">
                                    <span class="k-icon k-i-warning" style="margin-top: 200px; font-size: 30px;"></span><br><br>
                                    Không có dữ liệu!
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div class="row col-md-5" style="margin-top:42px">
                    <div class="col-md-12">
                        <table class="table table-bordered" busy-if="vm.loading == true">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:30px">STT</th>
                                    <th class="text-center">Tên phòng ban</th>
                                    <th class="text-center" style="width:100px">
                                        Đang xử lý
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.listThongKePhanCong">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>{{item.tenPhongBan}}</td>
                                    <td class="text-center">{{item.sumHoSoXuLy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" id="form-chuyen-ho-so">
                        <div id="boxInfo">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="mt-checkbox">
                                        <input ng-model="vm.phanCongInfo.isTuChoi" type="checkbox" ng-disabled="vm.readonly">Từ chối
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group col-md-9" ng-if="!vm.phanCongInfo.isTuChoi">
                                    <label>Phòng ban xử lý</label> <span class="font-red">*</span>
                                    <select class="form-control col-md-12"
                                            ng-options="obj.id as obj.name for obj in vm.lstPhongBan"
                                            ng-model="vm.phanCongInfo.phongBanId">
                                        <option value="">Chọn ...</option>
                                    </select>
                                    <check-validate-empty class="col-md-12" style="padding:0px" ng-if="vm.show_mode == 'mot_cua_phan_cong'" datacheck="vm.phanCongInfo.phongBanId"></check-validate-empty>
                                </div>
                                <div class="form-group col-md-9" ng-if="vm.phanCongInfo.isTuChoi">
                                    <label>Lý do từ chối</label> <span class="font-red">*</span>
                                    <div>
                                        <summernote config="vm.summernote_options" ng-model="vm.phanCongInfo.lyDoTuChoi" height="100"></summernote>
                                        <check-validate-empty ng-if="vm.show_mode == 'mot_cua_phan_cong'" datacheck="vm.phanCongInfo.lyDoTuChoi"></check-validate-empty>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-right">
                            <button type="submit" button-busy="vm.savingReject" busy-text="Đang lưu..." class="btn btn-primary green ng-isolate-scope"
                                    ng-click="vm.tuChoiTiepNhanDonHang()"
                                    ng-disabled="exampleForm.$invalid || !vm.phanCongInfo.isTuChoi">
                                <em class="fa fa-mail-forward"></em> <span>Trả lại hồ sơ</span>
                            </button>
                            <button type="submit" button-busy="vm.saving" busy-text="Đang lưu..." class="btn btn-primary blue ng-isolate-scope"
                                    ng-click="vm.luuMotCuaPhanCong()"
                                    ng-disabled="exampleForm.$invalid || vm.phanCongInfo.isTuChoi">
                                <em class="fa fa-send"></em> <span>Chuyển hồ sơ</span>
                            </button>
                            <button type="button" class="btn red" ng-click="vm.closeModal()"><em class="fa fa-close"></em> Đóng</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
</div>


