eeeeee
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-directions font-green hide"></i>
                    <span class="caption-subject bold font-dark uppercase"> Events</span>
                    <span class="caption-helper">Horizontal Timeline</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn green btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn  green btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Tools
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="cd-horizontal-timeline mt-timeline-horizontal loaded" data-spacing="60">
                    <div class="timeline mt-timeline-square">
                        <div class="events-wrapper">
                            <div class="events" style="width: 1800px;">
                                <ol>
                                    <li>
                                        <a href="#0" data-date="16/01/2014" class="border-after-blue bg-after-blue older-event" style="left: 120px;">Expo 2016</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="28/02/2014" class="border-after-blue bg-after-blue older-event" style="left: 300px;">New Promo</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="20/04/2014" class="border-after-blue bg-after-blue selected" style="left: 480px;">Meeting</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="20/05/2014" class="border-after-blue bg-after-blue" style="left: 600px;">Launch</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="09/07/2014" class="border-after-blue bg-after-blue" style="left: 780px;">Party</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="30/08/2014" class="border-after-blue bg-after-blue" style="left: 960px;">Reports</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="15/09/2014" class="border-after-blue bg-after-blue" style="left: 1020px;">HR</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="01/11/2014" class="border-after-blue bg-after-blue" style="left: 1200px;">IPO</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="10/12/2014" class="border-after-blue bg-after-blue" style="left: 1380px;">Board</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="19/01/2015" class="border-after-blue bg-after-blue" style="left: 1500px;">Revenue</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="03/03/2015" class="border-after-blue bg-after-blue" style="left: 1680px;">Dinner</a>
                                    </li>
                                </ol>
                                <span class="filling-line bg-blue" aria-hidden="true" style="transform: scaleX(0.280365);"></span>
                            </div>
                            <!-- .events -->
                        </div>
                        <!-- .events-wrapper -->
                        <ul class="cd-timeline-navigation mt-ht-nav-icon">
                            <li>
                                <a href="#0" class="prev inactive btn blue md-skip">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="next btn blue md-skip">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- .cd-timeline-navigation -->
                    </div>
                    <!-- .timeline -->
                    <div class="events-content" style="height: 349px;">
                        <ol>
                            <li class="" data-date="16/01/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Expo 2016 Launch</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Lisa Bold</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                        iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle dark btn-outline">Read More</a>
                                    <a href="javascript:;" class="btn btn-circle btn-icon-only green pull-right">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </li>
                            <li data-date="28/02/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Sending Shipment</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_3.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Hugh Grant</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">28 February 2014 : 10:15 AM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle btn-outline green-jungle">Download Shipment List</a>
                                    <div class="btn-group dropup pull-right">
                                        <button class="btn btn-circle blue-steel dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="javascript:;">Action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Another action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Something else here </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:;">Separated link </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li data-date="20/04/2014" class="selected">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Blue Chambray</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_1.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue">Rory Matthew</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">20 April 2014 : 10:45 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis
                                        qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle red">Read More</a>
                                </div>
                            </li>
                            <li data-date="20/05/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Timeline Received</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">20 May 2014 : 12:20 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-turquoise">Read More</a>
                                </div>
                            </li>
                            <li data-date="09/07/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Event Success</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_1.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Matt Goldman</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">9 July 2014 : 8:15 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
                                    <a href="javascript:;" class="btn btn-circle btn-outline purple-medium">View Summary</a>
                                    <div class="btn-group dropup pull-right">
                                        <button class="btn btn-circle green dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="javascript:;">Action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Another action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Something else here </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:;">Separated link </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li data-date="30/08/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Conference Call</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_1.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Rory Matthew</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">30 August 2014 : 5:45 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <img class="timeline-body-img pull-left" src="../assets/pages/media/blog/5.jpg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis
                                        qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis
                                        qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis
                                        qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle red">Read More</a>
                                </div>
                            </li>
                            <li data-date="15/09/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Conference Decision</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_5.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Jessica Wolf</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">15 September 2014 : 8:30 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <img class="timeline-body-img pull-right" src="../assets/pages/media/blog/6.jpg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis
                                        qui ut.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-sharp">Read More</a>
                                </div>
                            </li>
                            <li data-date="01/11/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Timeline Received</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">1 November 2014 : 12:20 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-turquoise">Read More</a>
                                </div>
                            </li>
                            <li data-date="10/12/2014">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Timeline Received</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">10 December 2014 : 12:20 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-turquoise">Read More</a>
                                </div>
                            </li>
                            <li data-date="19/01/2015">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Timeline Received</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">19 January 2015 : 12:20 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-turquoise">Read More</a>
                                </div>
                            </li>
                            <li data-date="03/03/2015">
                                <div class="mt-title">
                                    <h2 class="mt-content-title">Timeline Received</h2>
                                </div>
                                <div class="mt-author">
                                    <div class="mt-avatar">
                                        <img src="../assets/pages/media/users/avatar80_2.jpg">
                                    </div>
                                    <div class="mt-author-name">
                                        <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    </div>
                                    <div class="mt-author-datetime font-grey-mint">3 March 2015 : 12:20 PM</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-content border-grey-steel">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, finibus eu ex. Integer efficitur leo eget dolor
                                        tincidunt, et dignissim risus lacinia. Nam in egestas nunc. Suspendisse potenti. Cras ullamcorper tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. Ut consectetur odio non
                                        est rhoncus volutpat. Nullam interdum, neque quis vehicula ornare, lacus elit dignissim purus, quis ultrices erat tortor eget felis. Cras commodo id massa at condimentum. Praesent dignissim luctus
                                        risus sed sodales.
                                    </p>
                                    <a href="javascript:;" class="btn btn-circle green-turquoise">Read More</a>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <!-- .events-content -->
                </div>
            </div>
        </div>
    </div>
</div>