@using Abp.Authorization.Users
<div>
    <div id="huongDanCaiCAModal" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title text-center text-uppercase">
               Hướng dẫn cài phần mềm ký điện tử
                <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true"></button>
            </h4>
        </div>
        <div class="modal-body text-center">
            <iframe width="800" height="600" src="https://www.youtube.com/embed/4qIYPCBiSdc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>@L("Cancel")</button>
        </div>
    </div>
</div>