<div id="dataItemCreateOrEditForm">
    <div class="modal-header">
        <h4 class="modal-title text-center uppercase">
            <span>Thêm, sửa nội dung thẩm định </span>
            <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true"></button>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th style="width:110px;"> Level </th>
                            <th style="width:130px;"> STT </th>
                            <th> Tiêu đề thẩm định </th>
                            <th style="width:95px;text-align:center"> Tiêu đề </th>
                            <th style="width:95px;text-align:center"> Bắt buộc </th>
                            <th style="width:60px;text-align:center"> # </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.dataItem.listNoiDung">
                            <td>
                                <input style="width: 100%"
                                       ng-disabled="true"
                                       kendo-drop-down-list
                                       ng-model="item.level"
                                       k-options="vm.ROLE_LEVELOptions"
                                       class="form-control" />
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       ng-model="item.stt" />
                                <check-validate-empty datacheck="item.stt"></check-validate-empty>
                            </td>
                            <td>
                                <textarea class="form-control"
                                          ng-model="item.tieuDeThamDinh"
                                          rows="1"></textarea>
                                <check-validate-empty datacheck="item.tieuDeThamDinh"></check-validate-empty>
                            </td>
                            <td>
                                <input bs-switch
                                       ng-model="item.isTieuDe"
                                       type="checkbox"
                                       switch-on-text="<em class='fa fa-check' aria-hidden='true'></em>"
                                       switch-on-color="success"
                                       switch-off-text="<em class='fa fa-times' aria-hidden='true'></em>"
                                       ng-true-value=true
                                       ng-false-value=false>
                            </td>
                            <td>
                                <input bs-switch
                                       ng-model="item.isValidate"
                                       type="checkbox"
                                       switch-on-text="<em class='fa fa-check' aria-hidden='true'></em>"
                                       switch-on-color="success"
                                       switch-off-text="<em class='fa fa-times' aria-hidden='true'></em>"
                                       ng-true-value=true
                                       ng-false-value=false>
                            </td>
                            <td>
                                <button type="button" class="btn red" ng-click="vm.remove(item)"><em class="fa fa-close"></em></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top:5px;">
                    <button type="submit" class="btn btn-primary blue ng-isolate-scope" ng-click="vm.add()">
                        <span><em class="fa fa-plus-square"></em> <span> Thêm nội dung</span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn blue-steel" ng-click="vm.save()"><em class="fa fa-save"></em> <span>@L("Save")</span></button>
        <button ng-disabled="vm.saving" type="button" class="btn red" ng-click="vm.cancel()"><em class="glyphicon glyphicon-remove"></em>@L("Cancel")</button>
    </div>
</div>

<style>
    .modal-dialog {
        width: 1200px;
    }
</style>