@using newPSG.PMS.Localization
    <uib-tabset class="tab-container tabbable-line" active="vm.activeIndex">
        <uib-tab tabindex="0" index="0" heading="Giấy tiếp nhận" ng-if="vm.isShowGiayTiepNhan">
            <div class="frameTaiLieu" style="height: 730px">
                <iframe title="Xem giấy tiếp nhận" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.giayTiepNhanUrl)}}"></iframe>
            </div>
            <div class="text-center padding-tb-10"><a href="{{vm.trustSrc(vm.giayTiepNhanUrl)}}" target="_blank">Xem tài liệu bằng tab khác</a></div>
        </uib-tab>
        <uib-tab tabindex="1" index="1" heading="Đơn đề nghị">
            <div class="frameTaiLieu" style="height: 730px">
                <iframe title="Xem bản công bố" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.dangKyUrl)}}"></iframe>
            </div>
            <div class="text-center padding-tb-10"><a href="{{vm.trustSrc(vm.dangKyUrl)}}" target="_blank">Xem tài liệu bằng tab khác</a></div>
        </uib-tab>
        <uib-tab heading="Tài liệu đính kèm" tabindex="2" index="2">
            <div class="tools" style="margin-bottom:5px;">
                <div class="input-group" style="float:left;">
                    <div class="" uib-dropdown auto-close="disabled" is-open="vm.dropdownSearchIsOpen">
                        <button id="button1" type="button" class="btn btn-sm btn-success dropdown-toggle" uib-dropdown-toggle>Tài liệu đính kèm<em class="fa fa-sm fa-angle-down" style="font-size: 15px;font-weight: bolder; margin-left: 6px;"></em></button>
                        <div class="dropdown-menu theme-panel pull-left dropdown-custom advance-history" uib-dropdown-menu role="menu" aria-labelledby="button1" style="min-width:400px;">
                            <table class="table table-bordered table-striped">
                                <tr ng-repeat="taiLieu in vm.lstTaiLieu">
                                    <td>
                                        <button type="button" ng-class="taiLieu.active == true ? 'blue-steel' : ''"
                                                class="btn btn-xs btn-default" ng-click="vm.xemTaiLieu(taiLieu)">
                                            {{taiLieu.moTaTep}}
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frameTaiLieu">
                <div class="portlet light bordered text-center font-grey-salsa" style="height: 700px" ng-if="vm.taiLieuDinhKemUrl == null || vm.taiLieuDinhKemUrl == ''">
                    <span class="k-icon k-i-warning" style="margin-top: 200px; font-size: 30px;"></span><br><br>
                    Không tìm thấy tệp đính kèm!
                </div>
                <iframe ng-if="vm.taiLieuDinhKemUrl != null || vm.taiLieuDinhKemUrl != ''" title="Xem tài liệu" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.taiLieuDinhKemUrl)}}"></iframe>
            </div>
            <div class="text-center padding-tb-10"><a href="{{vm.trustSrc(vm.taiLieuDinhKemUrl)}}" target="_blank">Xem tài liệu bằng tab khác</a></div>
        </uib-tab>
        <uib-tab tabindex="3" index="3" heading="Công văn" ng-show="vm.lstCongVan.length > 0">
            <div class=" right" style="padding-top: 10px;">
                <button ng-repeat="congvan in vm.lstCongVan" type="button" class="btn btn-xs btn-default" ng-class="congvan.active == true ? 'blue-steel' : ''" ng-click="vm.xemCongVanBoSung(congvan)">{{congvan.displayText}}</button>
            </div>
            <div class="frameTaiLieu" style="height: 730px">
                <iframe title="Xem công văn, thông báo" style="width: 100%; height: 100%;border:0" ng-src="{{vm.trustSrc(vm.congVanUrl)}}"></iframe>
            </div>
            <div class="text-center padding-tb-10"><a href="{{vm.trustSrc(vm.congVanUrl)}}" target="_blank">Xem tài liệu bằng tab khác</a></div>
        </uib-tab>
    </uib-tabset>
