<!-- BEGIN SIDEBAR & CONTENT -->
<section class="wf100 subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="stitle text-center" style="margin: 0; color: #fff">
                    Công bố cơ sở đủ điều kiện kiểm nghiệm chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế
                </h3>
            </div>
        </div>
    </div>
</section>

<div class="main-content">
    @*<span style="display:none" id="tenThuTuc">@ViewBag.TenThuTucDirective</span>*@
    @*<div class="events-wrapper events-listing" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="stitle text-center">
                        Công bố cơ sở đủ điều kiện kiểm nghiệm chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế
                    </h3>
                </div>
            </div>
        </div>
    </div>*@

    <section class="wf100 p75 recent-events events-wrapper events-listing ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @*<h2 class="stitle">Top 10 hồ sơ được cấp giấy mới nhất</h2>*@
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Thông tin chung</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Trình tự thực hiện</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Thành phần hồ sơ</a></li>
                        <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Yêu cầu, điều kiện</a></li>
                        @*<li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Cơ sở ĐĐK- Công thương</a></li>
                        <li role="presentation"><a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">Cơ sở ĐĐK - Nông nghiệp</a></li>
                        <li role="presentation"><a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">Cơ sở cam kết</a></li>
                        <li role="presentation"><a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab">Cơ sở ĐKXN kiến thức</a></li>*@
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*<th scope="col" class="text-center vertical-align-middle">STT</th>*@
                                        <th scope="col" style="width: 15%;" class="text-center vertical-align-middle">Thông tin</th>
                                        <th scope="col" style="width: 35%;" class="text-center vertical-align-middle">Nội dung</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        @*<th scope="row">1</th>*@
                                        <td>Cơ quan thực hiện </td>
                                        <td>Cục Quản lý môi trường y tế, Bộ Y tế</td>
                                    </tr>
                                    <tr>
                                        @*<th scope="row">2</th>*@
                                        <td>Đối tượng thực hiện </td>
                                        <td>Cơ sở kiểm nghiệm chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế.</td>

                                    </tr>
                                    <tr>
                                        <td>Cách thức thực hiện</td>
                                        <td>Gửi qua đường bưu điện hoặc nộp trực tiếp tại Cục Quản lý môi trường y tế, Bộ Y tế. Trường hợp Cục Quản lý môi trường y tế triển khai công bố trực tuyến, cơ sở công bố nộp hồ sơ trực tuyến.</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng hồ sơ</td>
                                        <td>01 bộ</td>
                                    </tr>
                                    <tr>
                                        @*<th scope="row">3</th>*@
                                        <td>Thời hạn giải quyết</td>
                                        <td>Trong ngày tiếp nhận hồ sơ</td>

                                    </tr>
                                    <tr>
                                        @*<th scope="row">4</th>*@
                                        <td>Kết quả thực hiện </td>
                                        <td>Phiếu tiếp nhận hồ sơ công bố đủ điều kiện kiểm nghiệm</td>

                                    <tr>
                                        @*<th scope="row">5</th>*@
                                        <td>Phí, Lệ phí</td>
                                        <td>300.000 đồng</td>

                                    <tr>
                                        @*<th scope="row">6</th>*@
                                        <td>Tên mẫu đơn, mẫu tờ khai </td>
                                        <td>Mẫu số 02: Văn bản công bố đủ điều kiện thực hiện kiểm nghiệm theo Mẫu số 02 Nghị định số 91/2016/NĐ-CP.</td>

                                    <tr>
                                        @*<th scope="row">7</th>*@
                                        <td>Căn cứ pháp lý</td>
                                        <td>
                                            <p>1. Luật hóa chất ngày 21 tháng 11 năm 2007;</p>
                                            <p>2. Luật đầu tư ngày 26 tháng 11 năm 2014;</p>

                                            <p>3. Luật chất lượng sản phẩm, hàng hóa ngày 21 tháng 11 năm 2007;</p>
                                            <p>4. Luật doanh nghiệp ngày 26 tháng 11 năm 2014;</p>
                                            <p>5. Luật thương mại ngày 14 tháng 6 năm 2005;</p>
                                            <p>6. Luật tiêu chuẩn và quy chuẩn kỹ thuật ngày 29 tháng 6 năm 2006;</p>
                                            <p>7. Luật số 28/2018/QH14 ngày 15/6/2018 của Quốc hội sửa đổi, bổ sung một số điều của 11 luật có liên quan đến quy hoạch;</p>
                                            <p>8. Nghị định số 91/2016/NĐ-CP ngày 01 tháng 7 năm 2016 của Chính phủ về quản lý hóa chất, chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế;</p>
                                            <p>9. Nghị định số 155/2018/NĐ-CP ngày 12/11/2018 của Chính phủ sửa đổi, bổ sung một số quy định liên quan đến điều kiện đầu tư kinh doanh thuộc phạm vi quản lý nhà nước của Bộ Y tế.</p>
                                            <p>10.	Thông tư số 278/2016/TT-BTC ngày 14 tháng 11 năm 2016 của Bộ trưởng Bộ Tài chính quy định mức thu, chế độ thu, nộp, quản lý và sử dụng phí trong lĩnh vực y tế.</p>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <p>
                                Bước 1: Trước khi thực hiện kiểm nghiệm lần đầu tiên, cơ sở kiểm nghiệm gửi thông báo gồm các giấy tờ theo quy định tại Điều 11 Nghị định số 91/2016/NĐ-CP của Chính phủ đến Cục Quản lý môi trường y tế.
                            </p>                           
                            <p>Bước 2: Trong thời hạn 03 ngày làm việc, kể từ ngày nhận được thông báo của cơ sở kiểm nghiệm, Cục Quản lý môi trường y tế có trách nhiệm công khai trên trang thông tin điện tử của Bộ Y tế các thông tin: Tên, địa chỉ, số điện thoại liên hệ của đơn vị kiểm nghiệm; danh mục các loại hóa chất mà đơn vị có khả năng kiểm nghiệm.</p>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3">
                            <p>
                                1. Văn bản công bố đủ điều kiện thực hiện kiểm nghiệm theo Mẫu số 02 tại Phụ lục I ban hành kèm theo Nghị định số 91/2016/NĐ-CP;
                            </p>                         
                            <p> 2. Danh mục tên các hoạt chất mà cơ sở có khả năng kiểm nghiệm có xác nhận của cơ sở kiểm nghiệm;</p>
                            <p>
                                3. Bản sao hợp lệ Giấy chứng nhận đạt tiêu chuẩn ISO 17025:2005 hoặc phiên bản cập nhật được cấp chứng nhận bởi tổ chức chứng nhận đã đăng ký theo quy định của pháp luật về điều kiện kinh doanh đánh giá sự phù hợp
                            </p>
                            
                        </div>
                        <div role="tabpanel" class="tab-pane " id="tab4">
                            <strong>Khoản 5 Điều 9 Nghị định số 155/2018/NDD-CP:</strong>
                            <p>
                                Đạt tiêu chuẩn ISO 17025:2005 hoặc các phiên bản cập nhật được cấp chứng nhận bởi tổ chức chứng nhận đã đăng ký theo quy định của pháp luật về điều kiện kinh doanh đánh giá sự phù hợp
                            </p>
                        </div>
                        @*<div role="tabpanel" class="tab-pane " id="tab5">
                            <ul class="event-list"></ul>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="tab6">
                            <ul class="event-list"></ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab7">
                            <ul class="event-list"></ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab8">
                            <ul class="event-list"></ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>