<div id="ngaynghiCreateOrEditForm">
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="!vm.ngaynghi.id">Tạo ngày nghỉ mới</span>
            <span ng-if="vm.ngaynghi.id">Sửa ngày nghỉ</span>
            <button type="button" aria-hidden="true" class="close" ng-click="vm.cancel()"></button>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Ngày bắt đầu và kết thúc</label>
                    <input date-range-picker
                           type="text"
                           options="vm.ngayNghiDateRangePickerOptions"
                           min="vm.ngayNghiDateRangePickerOptions.min"
                           max="vm.ngayNghiDateRangePickerOptions.max"
                           class="form-control date-picker"
                           ng-model="vm.ngayNghiModel" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label>Lý do</label><span><span class="font-red">*</span></span>
                    <input class="form-control"
                           type="text"
                           name="LyDo"
                           ng-model="vm.ngaynghi.lyDo"
                           data-fv-notempty="true"
                           data-fv-notempty-message="Không được để trống trường này"
                           data-fv-trigger="blur" />
                </div>
                <div class="col-md-3">
                    <label>Kích Hoạt</label><br />
                    <input bs-switch
                           ng-model="vm.ngaynghi.isActive"
                           type="checkbox"
                           switch-on-text="<i class='fa fa-check' aria-hidden='true'></i>"
                           switch-on-color="success"
                           switch-off-text="<i class='fa fa-times' aria-hidden='true'></i>"
                           ng-true-value=true
                           ng-false-value=false>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn green-meadow" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        <button ng-disabled="vm.saving" type="button" class="btn red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>@L("Cancel")</button>
    </div>
</div>